
<form class="form-horizontal">
    <div class="panel-body">
        <!-- user input-->
        <div class="form-group">

            <label class="col-md-2 control-label" for="Nome"></label>


            <div class="col-md-8">
                <p style="text-align:center;"> Faça login com seu nome de usuário </p>
                <input id="Nome" name="Nome" placeholder="Chave Vibra" class="form-control input-md" required=""
                    type="text">
            </div>
        </div>
        <!-- user password-->
        <div class="form-group">
            <label class="col-md-2 control-label" for="Nome">
                <h11></h11>
            </label>
            <div class="col-md-8">
                <input id="Nome" name="Nome" placeholder="Senha" class="form-control input-md" required=""
                    type="password">
                <br>
            </div>
            <button id="Cadastrar" name="Cadastrar" class="button" type="Submit">Entrar</button>
        </div>
</form>